<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa fa-leaf" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add new Listing</a>
          <a class="nav-link" href="https://r.search.yahoo.com/_ylt=AwrKDrkTyJ5nfQIA16.7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1739668756/RO=10/RU=https%3a%2f%2fzoom.earth%2f/RK=2/RS=.IYAx5cBcsOlzY.ZTEvdHro3GB0-">Weather</a>
          <a class="nav-link" href="https://r.search.yahoo.com/_ylt=AwrKCZTt2J5nOwIA2a.7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1739673070/RO=10/RU=https%3a%2f%2fwww.cropital.com%2f/RK=2/RS=VckLBwRY.vWfj6k84HqVKv3YXpU-">Crowd Funding</a>
          
          
          
      </div>
    </div>
  </nav>